.project{
    width: 100%;
    height: auto;
    background-color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0%;
    border: 2px solid black;
}
.projecth1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}
.projecth2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    padding: 4rem 2rem;
}
.projectcontent{
    font-family: Georgia, 'Times New Roman', Times, serif;
   padding: 3rem 5rem;
   width: 100%;
   height: auto;
   align-items: center;
   /* margin-left: 5rem; */
   /* border: 2px solid black; */
}
.projectp{
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* padding-bottom: 2rem;
    padding-top: 2rem; */
    
}